table {
  text-align: center;
  width: 75%;
  height: 500px;
  border-collapse: collapse;
}

* {
  font-family: "Helvetica Now Micro";
  line-height: 1.5;
}

th {
  background-color: #3a3845;
  color: #fdf6ec;
  height: 50px;
  width: 100px;
}

td,
h1,
p {
  color: #3a3845;
}

table,
td {
  border: 2px solid #3a3845;
}

.recapSize {
  width: 100%;
  height: 50px;
}

td {
  height: 60px;
  text-align: center;
  padding: 10px;
}

.tdChange {
  font-weight: 750;
}

.thChange {
  width: 100px;
}

#horrificOpinion {
  width: 50%;
}

.upText {
  position: relative;
  text-align: center;
  /* top: 0px; */
  border-width: 3px;
  border-color: #3a3845;
  border-style: solid;
  /* border-right-width: 2em; */
  /* border-left-width: 2em; */
  width: 71%;
  /* border-radius: 50px; */
}

h2 {
  position: relative;
  left: 170px;
  padding: 20px 20px;
  background-color: #3a3845;
  color: #fdf6ec;
}
